* {
    box-sizing: border-box;
}
body {
    margin: 0;
}


.desktop {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.desktop-content {
    padding: 20px;
}

.desktop-title {
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 32px;
    
}

.taskbar {
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskbar-left {
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.taskbar-right {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.start-button {
    height: 40px;
    width: 80px;
    border: none;
    background-color: black;
    color: white;
    font-family: arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.start-button:hover {
    background-color: white;
    color: black;
}

.clock {
    color: black;
    font-family: arial, sans-serif;
    font-size: 16px;
}

.desktop-icon {
    width: 80px;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 20px;
    background: none;
    border: none;
    padding: 0;
    transition: 0.2s;
    color: white;
}

.desktop-icon span {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.icon-image {
    font-size: 40px;
    margin-bottom: 5px;
}

.desktop-icon:hover {
    background-color: #333;
}

.browser-window {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 500px;
    height: 350px;
    background-color: white;
    border: 2px solid #666;
    display: none;
    z-index: 10;
}

.browser-titlebar {
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.close-button {
    width: 30px;
    height: 25px;
    border: none;
    background-color: #666;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #999;
}

.window-controls {
    display: flex;
    gap: 5px;
}

.minimize-button {
    width: 30px;
    height: 25px;
    border: none;
    background-color: #666;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.minimize-button:hover {
    background-color: #999;
}